################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OtusDoctorDTO/FileContentIndex/6db32c8c-55c4-4491-a81d-f06bd83d9cd6.vsidx
/.vs/OtusDoctorDTO/v17/.wsuo
/.vs/OtusDoctorDTO/FileContentIndex/074dfb8a-798a-46e2-abf2-2f138a34894f.vsidx
/.vs/slnx.sqlite
/.vs/OtusDoctorDTO/FileContentIndex/36916d0e-eafe-470d-8ca9-b47bf2a21637.vsidx
